.table-auto {
    overflow-x:auto;
}

#main {
    overflow: auto;
    padding-bottom: 180px;
    /* must be same height as the footer */
}
#footer{
    position:fixed;
    bottom:0;
    left:0;
}
form {
    margin-bottom: 2%;
    background-color: #007bff;
}
label {
    margin-left: 10px;
    font-weight: bold;
    color: white;
}
.row-buttons {
    padding-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
h1 {
    color: #181732;
}
form p {
    background-color: white;
}