
<head th:insert="fragments/header.html">

    <div class="page-header text-center">
        <h1>Correct data and click submit otherwise You can click back</h1>
    </div>
    <hr>
    <div class="container col-xl-5">
        <form class = "center"  th:object="${department}" action="/api/departments" method="post">
            <div class="form-group">
                <label for="d-id-field" class="col-form-label">Id</label>
                <input id ="d-id-field"type ="text" class="form-control col-sm-10>" th:field="*{id}" readonly>
                <label for="d-name-field" class="col-form-label">Name</label>
                <input id="d-name-field" type ="text" class="form-control" th:field="*{name}" required>
                <label for="d-country-field" class="col-form-label">Country</label>
                <input id ="d-country-field" type ="text" class="form-control" th:field="*{address.country}" required>
                <label for="d-city-field" class="col-form-label">City</label>
                <input id ="d-city-field" type ="text" class="form-control" th:field="*{address.city}" required>
                <label for="d-street-field" class="col-form-label">Street</label>
                <input id="d-street-field" type ="text" class="form-control" th:field="*{address.street}" required>
                <label for="d-flat-field" class="col-form-label">Flat</label>
                <input id = "d-flat-field" type ="text" class="form-control" th:field="*{address.flat}">
                <label for="d-house-field" class="col-form-label">House</label>
                <input id ="d-house-field" type ="text" class="form-control" th:field="*{address.house}">
                <label for="d-zipCode-field" class="col-form-label">ZIP code</label>
                <input id="d-zipCode-field" type ="text" class="form-control" th:field="*{address.zipCode}">
                <label for="d-email-field" class="col-form-label">Email address</label>
                <input id ="d-email-field" type ="text" class="form-control" th:field="*{address.email}" required>
            </div>
            <div class="row-buttons">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                <div class="col-sm-5">
                    <a href="/api/departments" class="btn btn-danger">Back to Departments</a>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div th:replace="fragments/footer.html"></div>
